$unit: 1rem;
$color-primary:blue;
$color-text:black;

$input-padding: 2 * $unit 0 0.5 * $unit !default;
$input-field-padding: 1.3 * $unit !default;
$input-field-font-size: 1.6 * $unit !default;
$input-field-height: $input-field-padding * 2 + $input-field-font-size * 1.4 !default;
$input-label-font-size: 1.2 * $unit !default;
$input-focus-label-top: 0 !default;
$input-text-background-color: transparent !default;
$input-text-label-color: #5f5f5f !default;
$input-text-bottom-border-color: #d4d4d4 !default;
$input-text-highlight-color: $color-primary !default;
$input-text-disabled-text-color: $input-text-label-color !default;
$input-text-error-color: rgb(222, 50, 38) !default;
$input-text-required-color: rgb(222, 50, 38) !default;
$input-underline-height:  2 * $unit !default;
$input-icon-font-size: 2.4 * $unit !default;
$input-icon-size: 1 * $input-icon-font-size !default;
$input-icon-offset: 2.7 * $unit !default;
$input-icon-right-space: 1 * $unit !default;
$input-chevron-offset: .8 * $unit !default;
$input-placeholder-opacity: 1 !default;

.input {
  position: relative;
  padding: $input-padding 0;
  margin-top: 1rem;

  &.withIcon {
    margin-left: $input-icon-size + $input-icon-right-space;
  }
}

.icon {
  position: absolute;
  top: $input-icon-offset;
  left: -($input-icon-size + $input-icon-right-space);
  display: block;
  width: $input-icon-size;
  height: $input-icon-size;
  font-size: $input-icon-font-size !important;
  line-height: $input-icon-size !important;
  color: $input-text-label-color;
  text-align: center;
  fill: currentColor;
}

.inputElement {
  display: block;
  width: 100%;
  padding: $input-field-padding;
  font-size: $input-field-font-size;
  color: $color-text;
  background-color: $input-text-background-color;
  border: 1px solid $input-text-bottom-border-color;
  border-radius: 0.6rem;
  outline: none;
  &:focus:not([disabled]):not([readonly]) {
    border-color: $input-text-highlight-color;

    ~ .bar:before,
    ~ .bar:after {
      width: 50%;
    }
    ~ .label:not(.fixed) {
      color: $input-text-highlight-color;
    }
    ~ .label > .required {
      color: $input-text-required-color;
    }
    ~ .placeholder {
      display: block;
      opacity: $input-placeholder-opacity;
    }
    ~ .icon {
      color: $input-text-highlight-color;
    }
  }
  ~ .label:not(.fixed) {
    top: $input-focus-label-top;
    font-size: $input-label-font-size;
  }
}

.label {
  position: absolute;
  top: -.3 * $input-field-padding;
  left: 0;
  font-size: $input-field-font-size;
  line-height: $input-field-font-size;
  color: $input-text-label-color;
  pointer-events: none;
}

.placeholder {
  position: absolute;
  top: $input-padding + (1.5 * $input-field-padding);
  left: 0;
  font-size: $input-field-font-size;
  line-height: $input-field-font-size;
  color: $input-text-label-color;
  pointer-events: none;
}

.disabled > .inputElement {
  color: $input-text-disabled-text-color;
  border-bottom-style: dotted;
}

.hidden {
  display: none;
}

.invalid {
  input {
    border-color: #e54d42;
  }
}

.errorField {
  color: #e54d42;
  font-size: 1.2rem;
  line-height: 1.7rem;
}
