.password-wrapper {
  position: absolute;
  right: 1rem;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;

  button {
    border-radius: 0.6rem;
    min-width: 5.4rem;
    text-align: center;
  }
}
