.hero {
  margin: auto 0;
  cursor: pointer;
  text-align: center;

  & > h1 {
    position: relative;
    font-size: 4.2rem;
    color: blue;
    display: inline-block;
    margin: 1.6rem auto 2.3rem;
    font-weight: 600;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.5s ease, opacity 1s ease;
  }
}

.btn-intro{
  width: auto;
  min-width: 15rem;
  font-weight: 500;
}
